<!DOCTYPE html>
<html>
  <head>
    <title>Bookstore</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render partial: "shared/navbar" %>

  <div class="container">
    <div class="alert alert-info"><%= notice %></div>
    <div class="alert alert-warning"><%= alert %></div>

    <%= yield %>

  </div>
    
  </body>
</html>
